<table class="table table-bordered table-hover" style="text-align: center; background-color: #c4a3bf;">
  <thead>
    <tr>
      <th class="" style="color: #6a1917;">カテゴリー</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= link_to "ALL COMPONENTS", components_path, :style=> "color: #8f2e14;" %></td>
    </tr>
    <% categories.each do |category| %>
      <tr>
        <td>
          <%= link_to category.name, comp_search_path(category.id), :style=> "color: #96514d;" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>