<div class="container">
  <div class="row mt-5 mb-4">
    <div class="col-md-4 offset-1">
      <h4 class="p-3 mb-2 w-50 text-center" style="color: #494949; background: #80aba9; border-left: solid 5px #2f4f4f;">成分詳細</h4>
    </div>
  </div>
  <div class="row mt-4 mb-5">
    <div class="col-10 offset-1 mb-5">
      <!-- 商品詳細 -->
      <div class="card">
        <div class="card-header">
          <h5><strong>成分カテゴリー名</strong></h5>
        </div>
        <div class="card-body">
          <p class="mt-3"><%= @component.comp_category.name %></p>
        </div>
        <div class="card-header">
          <h5><strong>成分名</strong></h5>
        </div>
        <div class="card-body">
          <p class="mt-3"><%= @component.name %></p>
        </div>
        <div class="card-header">
          <h5><strong>成分説明</strong></h5>
        </div>
        <div class="card-body">
          <p class="mt-3"><%= @component.explanation %></p>
        </div>
        <div class="card-header">
          <h5><strong>成分ステータス</strong></h5>
        </div>
        <div class="card-body">
          <p class="mt-3">
            <% if @component.status? %>
              <div class="text-success">現在使用可能</div>
            <% else %>
              <div class="text-secondary">現在使用不可</div>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
		<div class="col-4 offset-4">
		  <div class="text-center">
		    <%= link_to "編集する" ,edit_admin_component_path(@component), class: "btn btn-outline-success" %>
		  </div>
		</div>
	</div>
</div>