  <footer class="fixed-bottom mt-5">
    <p class="m-0 d-flex align-items-center justify-content-center" style="background-color:#bc8f8f; height: 60px;">
      <%= link_to root_path do %>CosmeComponent<% end %>
      <%= link_to inquiry_index_path, class: ' d-flex align-items-right' do %>お問い合わせ<% end %>
    </p>
  </footer>