  <footer class="fixed-bottom mt-5">
    <p class="m-0 d-flex align-items-center justify-content-center text-black-50" style="background-color:#bc8f8f; height: 60px;">
      <%= link_to root_path do %>CosmeComponent<% end %>
    </p>
  </footer>